@use "../../styles/partials/font" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.inventory__line{

    width: 21.4375rem;
    height: 0.0625rem;
    flex-shrink: 0;
    background: var(--cloud, #BDC5D5);

    @include tablet {

        width: 44rem;
        height: 0.0625rem;
        flex-shrink: 0;

    }

    @include desktop {

        width: 63.75rem;
        height: 0.0625rem;
        flex-shrink: 0;

    }


}

.table__mastersection{

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
    &--icons {
    
    justify-content: end;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 1rem;

    @include tablet {

        display:none;

    }

    }

}

.table__divsection{

display: flex;
flex-direction: column;

@include tablet {

    flex-direction: row;
}

&--rows{
    display: flex;
    flex-direction:row;
    justify-content:space-between
    

}

&--actions{

    @include mobile {

        display: none;
    }

    @include tablet {

        display: flex;
    }
}

}

.inventory__group{

 
    justify-content:left;
}

.table__section{

   padding-top: 1rem;
   height: 4rem;
   margin: 1rem;
   min-width: 6rem;
}


.table__header{

    color: var(--slate, #5C667E);


    font-family: Titillium Web;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
    text-transform: uppercase;
    
    @include tablet {

        background: rgba(247, 248, 249, 0.70);

    }


}



.table__row{


    &--name{

        color: var(--instock-indigo, #2E66E5);

        /* M H3 */
        font-family: Titillium Web;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.25rem; /* 153.846% */
        background-color: white;
        border: none;
        display: flex;
        align-items: center;
        
   

    }

    &--category{
        color: var(--instock-black, #13182C);

        /* M P2 */
        font-family: Titillium Web;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 153.846% */

    }

    &--status{

        display: inline-flex;
        padding: 0.25rem 0.5rem;
        align-items: center;
        border-radius: 1.25rem;
        background: rgba(21, 132, 99, 0.07);
        color: var(--green, #158463);

        /* M H4 */
        font-family: Titillium Web;
        font-size: 0.6875rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1rem; /* 145.455% */
        text-transform: uppercase;

    }

    &--qty{

        color: var(--instock-black, #13182C);

        /* M P2 */
        font-family: Titillium Web;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 153.846% */

    }


}

