@use "../../styles/partials/font" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

//// WAREHOUSE DETAILS STYLES ////
.whdetails {
  //TODO: need to include font styles for everything
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //TODO: Card container may need to be changed to global styles
  &__container {
    display: flex;
    flex-direction: column;
    width: 21.4375rem;
    width: 90%;
    padding: 1rem;
    background-color: $white;
    border-radius: 4px; // may need to be changed
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
    margin-top: -4.875rem;

    @include tablet {
      min-width: 44rem;
    }
  }

  &__container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
  }

  &__name {
    padding: 0 0.5rem;
  }

  &__edit {
    display: none;

    // TODO: The edit icon too close to the left
    @include tablet {
      display: flex;
      background-image: url(../../assets/Icons/edit-24px-white.svg);
      background-color: $indigo;
      background-position: left center;
      align-items: center;
      text-decoration: none;
      background-repeat: no-repeat;
      padding: 0.5rem 2rem;
      color: #ffffff;
      border-radius: 1.25rem;
      box-shadow: none;
      height: 2.5rem;
      margin-left: auto;
    }
  }

  &__edit-icon {
    display: flex;
    margin-left: auto;
    background-color: $indigo;
    border-radius: 50%;

    width: 2.25rem;
    height: 2.25rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;


    @include tablet {
      display: none;
    }
  }

  &__container-info {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__subcontainer--info {
    @include tablet {
      padding-left: 2rem;
    }
  }

  &__subcontainer--address {
    padding-bottom: 2.25rem;

    @include tablet {
      margin-right: auto;
    }
  }

  &__subheader {
    //TODO: need to include mobile font styles
    color: $slate;
    text-transform: uppercase;
  }

  &__container-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablet {
      margin-left: auto;
    }
  }

  &__divider {
    @include horizontal-divider;

    &--vertical {
      display: none;

      @include tablet {
        display: flex;
        @include vertical-divider;
      }
    }
  }

}

////// WAREHOUSE INVENTORY LIST STYLES -- TONY WILL EDIT LATER////
.whdetails__inventory {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &-container {

    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    background-color: $white;
    border-radius: 4px; // may need to be changed
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
    margin-top: 0rem;
  }

  &-section {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    height: 5rem;

    @include tablet {

      width: 100%;
    }

  }

  &-group {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    @include tablet {

      flex-direction: row;

    }

  }


  &-subheader {

    color: $slate;
    text-transform: uppercase;

    @include tablet {
      display: none;
    }

    &--actions {

      display: none;

      @include tablet {

        display: flex;
        color: $slate;
        text-transform: uppercase;
        display: none;

      }
    }
  }


  &-tablesection {
    display: flex;
    flex-direction: row;

    width: 100%;
  }

  &-divsection {
    width: 50%;

    @include tablet {
      display: flex;
      flex-direction: row;
      width: 100%;

    }

    &--actions {

      width: 100%;

      @include tablet {
        width: 10%;
      }

    }


  }

  &-row {
    display: flex;
    min-height: 2rem;
    align-items: center;


    &-button {

      text-decoration: none;



    }

    &-chevron {

      width: 1.25rem;
      height: 1.25rem;


    }


  }




}



.whdetails__actions--icons {
  display: flex;
  justify-content: space-between;

}

.in-stock {

  border-radius: 1.25rem;
  background: rgba(21, 132, 99, 0.07);
  color:  #158463;
  width: 5rem;
  justify-content: center;
  
}

.out-of-stock {

  border-radius: 1.25rem;
background: rgba(201, 69, 21, 0.07);
color: #C94515;
width: 6rem;
justify-content: center;

}
