@use "../../styles/partials/variables" as *;
// Media Queries
@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin p__body-large {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

@mixin p__body-medium {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@mixin p__body-small {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

@mixin Mp__body-large {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
}

@mixin Mp__body-medium {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

@mixin Mp__body-small {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

// Divider Styles
@mixin horizontal-divider {
  border: none;
  border-top: 0.0625rem solid $cloud;
  margin: auto;
}
