@use "../../styles/partials/font" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.delete{
    z-index: 10;
    padding: 1rem;
    position: relative;
    background-color: $white;
    width: 42rem;
    max-width: 80%;
    transform: scale(0);
        @include tablet{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(0);
            z-index: 10;

            // width: 42rem;
            // height: 100%;
            // flex-shrink: 0;  
            // margin: 11.56rem 3rem 0rem 3rem;  
            // background-color: $white;
        }
    &__container{
        // background-color: $white;
        @include tablet {
            // background-color: $black;
            opacity: 0.699999988079071;
        }
    }
    &__close{
        float: right;
    }
    &__title{
        padding-top: 3.75rem;
    }
    &__subtext{
        padding-top: 1rem;
    }
    &__buttons{
        position: fixed; 
        bottom: 0%;
        &-cancel{
            display: inline-flex;
            background-color: $white;
            border: solid 1px $cloud;
            width: 10.1875rem;
            padding: 0.5rem 3.94rem;
            align-items: center;
            gap: 0.625rem;
            border-radius: 1.25rem;
            margin: 1rem;
        }
        &-delete{
            display: inline-flex;
            background-color: $red;
            border: solid 1px $red;
            width: 10.1875rem;
            padding: 0.5rem 3.94rem;
            border-radius: 1.25rem;
            margin: 1rem;
        }
    }
}

#overlay{
    position: fixed;
    // opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlay;
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.delete.active{
    transform: scale(1);
    @include tablet{
        transform: translate(-50%,-50%) scale(1);
    }
}
