@import '../../styles/partials/mixins';

.inventory__table {

    border-radius: 0.1875rem;
    background: var(--white, #FFF);
    width: 100%;
  

  

    @include desktop {
     

    }

    

    &--header {

        color: var(--slate, #5C667E);
        font-family: Titillium Web;     


    }

}

.table__row {


    &--name {
        color: var(--instock-indigo, #2E66E5);

        font-family: Titillium Web;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.25rem;
    }


    &--category {

        color: var(--instock-black, #13182C);
        font-family: Titillium Web;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;

    }

    &--status {

        display: inline-flex;
        color: var(--green, #158463);
        padding: 0.25rem 0.5rem;
        align-items: center;
        font-family: Titillium Web;
        font-size: 0.6875rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1rem;
        text-transform: uppercase;
        border-radius: 1.25rem;
        background: rgba(21, 132, 99, 0.07);

    }

    &--quantity {
        color: var(--instock-black, #13182C);
        font-family: Titillium Web;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;

    }

}