@use "../../styles/partials/font" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.newwh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    @include container;
  }

  &__container-input {
    padding: 0.5rem;
  }

  &__header {
    @include flex-row-center;
    padding: 1.5rem;
  }

  &__title {
    @include flex-row-center;
    padding: 1.5rem 1rem;
    @include h2__M-subheader;

    @include tablet {
      @include h2__DT-subheader;
    }
  }

  &__container-form {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__subtitle {
    padding: 1.5rem 0.5rem;
    @include h2__M-subheader;

    @include tablet {
      @include h2__DT-subheader;
    }
  }

  &__divider {
    @include horizontal-divider;

    &--tablet {
      @include tablet {
        @include vertical-divider;
        margin: 1rem 0 1rem;
      }
    }
  }

  &__warehousedetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    @include tablet {
      display: flex;
    }
  }

  &__subheader {
    padding-bottom: 0.25rem;
    @include h3__M-label;

    @include tablet {
      @include h3__DT-label;
    }
  }

  &__input {
    @include input;
  }

  &__contactdetails {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &__action {
    @include flex-row-center;
    justify-content: center;
    padding: 1rem;
    background-color: $light-gray;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    @include h3__M-label;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      @include h3__DT-label;
    }
  }

  &__button {
    height: 2.25rem;
    width: 100%;
    margin: 0.5rem;

    @include tablet {
      height: 2.375rem;
      width: 10rem;
    }

    &--add {
      background-color: $indigo;
      border: 1px solid $indigo;
      color: $white;

      &:hover {
        background-color: $black;
        border-color: $black;
        cursor: pointer;
      }
    }

    &--cancel {
      background-color: $white;
      border: 1px solid $cloud;
      color: $slate;

      &:hover {
        border-color: $indigo;
        color: $indigo;
        cursor: pointer;
      }
    }
  }

  &__error {
    color: $red;
  }

  &__success {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $green;
  }
}
