@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles//partials/font' as *;

.warehouses{
    background-color: $white;
    width: 21.4375rem;
    height: 98.4375rem;
    margin: 8.5rem 1rem 0rem 1rem;
    border-radius: 0.1875rem;

    &__header{
        border-bottom: 1px solid $cloud;
    }
    &__title{
        padding: 2rem 10.56rem 0rem 1.5rem;
    }
    &__searchbar{
        background: $white;
        background-image: url('../../assets/Icons/search-24px.svg');
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: 95% 50%;

        flex-shrink: 0;
        width: 18.4375rem;
        height: 2.25rem;
        margin: 1rem 1.5rem 0rem 1.5rem;
        padding-left: 10px;
        border-radius: 1.25rem;
        border: 1px solid $cloud;
    }
    &__button{
        background-color: $indigo;
        color: $white;
        display: inline-flex;
        padding: 0.5rem 5.25rem;
        margin: 1rem 1.5rem 2rem 1.5rem;
        align-items: center;
        gap: 0.625rem;
        border-radius: 1.25rem;
    }
}